# Setup below works with local docker compose

# Database Configuration (Single Database)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=loopwork
DB_PASSWORD=password
DB_NAME=loopwork
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public

# Security & Encryption
PRISMA_FIELD_ENCRYPTION_KEY= # generate a key with "New key" on https://cloak.47ng.com/
JWT_SECRET= # Generate with: node -e "console.log(require('crypto').randomBytes(128).toString('hex'))"

# Organization Information (used in seeding)
ORGANIZATION_NAME="My Company"
ORGANIZATION_TAX_ID=""

NEXT_PUBLIC_APP_URL=http://localhost:3000
ITEMS_PER_PAGE=20

NEXT_PUBLIC_MAP_TILES_URL=tiles_url

# Email / Mailer Configuration (Resend or SMTP)
# Resend example: host=smtp.resend.com, port=465, isSecure=true, user=resend, password=re_YOUR_API_KEY
mailer_smtp_host=localhost
mailer_smtp_port=1025
mailer_smtp_isSecure=false
mailer_smtp_user=user
mailer_smtp_password=password
mailer_email_from="Loopwork HRIS <onboarding@resend.dev>"

NEXT_PUBLIC_THEME=hris # default theme, or set your own custom theme name
NEXT_PUBLIC_DEFAULT_LANGUAGE=en

SUPPORT_PASSWORD=strong_password
SUGGESTIONS_SLOT_COUNT=3

HOMEPAGE="" # Configure your homepage URL here

USE_NOTIFICATIONS_SERVICE=false # set to true if notifications service should be used
NOTIFICATIONS_SERVICE_URL=http://localhost:3001/api/notifications
NOTIFICATIONS_SERVICE_APPLICATION_NAME=Loopwork
NOTIFICATIONS_SERVICE_APPLICATION_TOKEN= # add
